.sidebar li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.green_column {
  background-color: f5fffa;
  border: 1px solid #cef2e0;
  padding: 0;
  margin: 0;
}

.green_column_header {
  background-color: #cef2e0;
  border: 1px solid #a3bfb1;
  font-weight: bold;
  margin: 0.5em;
  padding: 0.2em;
}

.left_image {
  float: left;
  padding: 5px;
}

.right_image {
  float: right;
  padding: 5px;
}

.blue_column {
  background-color: #f5faff;
  border: 1px solid #cedff2;
}

.blue_column_header {
  background-color: #cedff2;
  border: 1px solid #a3b0bf;
  font-weight: bold;
  margin: 0.5em;
  padding: 0.2em;
}

.purple_column {
  background-color: #faf5ff;
  border: 1px solid #ddcef2;
}

.purple_column_header {
  background-color: #ddcef2;
  border: 1px solid #afa3bf;
  font-weight: bold;
  margin: 0.5em;
  padding: 0.2em;
}

.grey_column {
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
}

.grey_column_header {
  background-color: #eee;
  border: 1px solid #ddd;
  font-weight: bold;
  margin: 0.5em;
  padding: 0.2em;
}